
:root{
    --nav-color: rgb(255 207 0);
    --light-gray: #dfdfdf;
    
}

*{
    margin: 0px;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}

.nav{
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
}

.nav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--light-gray);
    min-height: 90px;
    border-bottom: 1px solid black;
}

#header-img{
    width: 300px;
    height: 35px;
    margin: 0px auto;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.nav-link{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 8px;
}

.sign-in{
    margin-top: 110px;
}

h1{
    font-size: 1.7rem;
    text-align: center;
}

#email{
    display: block;
    margin: 3vh auto;
    padding: 1vw;
    width: 50vw;
    font-size: 1rem;
    border: 1px solid black;
}

#submit{
    display: block;
    margin: 0vh auto;
    padding: 1vw;
    border: 1px solid black;
    background: var(--nav-color);
    min-width: fit-content;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 4vw;
    transition-duration: 0.5s;
    cursor: pointer;
}

#submit:hover{
    background-color: rgb(214, 182, 0);
}

.about-container{
    margin-top: 5vh;
    text-align: center;
}
 
h2{
    margin: 0px auto;
    margin-top: 1.5vh;
    font-size: 1.5rem;
}

i{
    margin: 1vh auto;
    font-family: unset;
    margin-top: 1.5vh;
    color:  var(--nav-color);
}

#description{
    margin: 1.5vh auto 0px auto;
    text-align: center;
    font-size: 1rem;
    width: 330px;
}

.video{
    margin-top: 7vh;
}

iframe{
    max-width: 100%;
    display: block;
    margin: 0px auto;
}

.order{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.order-container{
    margin: 5vh auto 0px auto;
    border: 1px solid black;
    width: 70vw;
    min-width: fit-content;
}

h4{
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--light-gray);
    padding: 16px;
}

.price{
    margin: 8px 0px;
    font-weight: bolder;
    font-size: 1.8rem;
}

.info{
    padding: 5.5px;
    font-size: 0.9rem;
}

.button{
    margin: 28px auto;
    padding: 4.5px;
    width: 30%;
    min-width: fit-content;
    background-color: var(--nav-color);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover{
    background-color: rgb(214, 182, 0);
}

.footer{
    margin-top: 5vh;
    height: 5vh;
    min-height: fit-content;
    font-size: 0.9rem;
}

.footer-container{
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
}

.footer-link{
    width: 100%;
    text-align: center;
}

.footer-link a{
    padding: 1%;
    font-size: inherit;
}

#copyright{
    font-weight: lighter;
    text-align: left;
    font-size: inherit;
    padding: 1%;
}

@media (min-width: 500px){
    h1{
        font-size: 1.8rem;
    }
    .order-container{
        width: 300px;
    }
}

@media (min-width: 768px){
    .about-container{
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "icon header"
        "icon text";
    }
    i{
        min-width: 120px;
        grid-area: icon;
        margin: auto;
        padding: 4vw;
    }
    h2{
        text-align: left;
        margin: 0px;
        font-size: 1.5rem;
        grid-area: header;
        align-self: flex-end;
    }
    #description{
        text-align: left;
        grid-area: text;
        font-size: 1rem;
        width: fit-content;
        margin-right: 20px;
        margin-left: 0px;
    }
    .nav-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
    }
    
    #header-img{
        justify-items: left;
        margin: 0px;
    }
    
    a{
        text-decoration: none;
        color: black;
        font-size: 1rem;
    }
    
    .nav-link{
        width: 375px;
    }

    .sign-in{
        margin-top: 100px;
    }
    iframe{
        width: 600px;
    }
} 

@media (min-width: 1024px){
    h1{
        font-size: 2.5rem;
    }
    #email{
        width: 400px;
    }
    .about{
        margin-top: 40px;
    }
    .about-container{
        width: 1024px;
        margin: 30px auto 0px auto;
    }
    i{
        font-size: 3rem !important;
    }
    h2{
        font-size: 1.8rem;
    }
    #description{
        font-size: 1.2rem;
        margin-top: 4px;
    }
    .order{
        margin-left: auto;
        margin-right: auto;
        width: 1024px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .order-container{
        width: 300px;
        height: fit-content;
    }
    h4{
        font-size: 1.2rem;
    }
    .price{
        font-size: 2rem;
    }
    .info{
        font-size: 1.1rem;
    }
    .button{
        font-size: 1.2rem;
    }
    .video{
        margin-top: 85px;
    } 
    .footer{
        margin-top: 30px;
    }
} 